[Unit]
Description=ARTIFACT Auto-Pull Timer
Requires=network-online.target
After=network-online.target

[Timer]
# Run every 5 minutes
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
